{% extends 'base.html' %} {% block content %}
<style>
  .center-layout {
    max-width: 1000px;
    margin: auto;
  }

  .user-info {
    font-size: larger;
  }
</style>

<section class="jumbotron text-center p-5">
  <h1 class="jumbotron-heading">Hey, {{userInfo.username}}!</h1>
  <p class="text-muted">Below you can find all your information.</p>
</section>

<div class="album p-5 bg-light">
  <div class="row center-layout">
    <div class="col-6">
      <h4 class="pb-3 font-weight-bold">User information</h4>
      <div class="user-info mb-5">
        <p><b>Name:</b> {{userInfo.username}}</p>
        <p><b>Birthday:</b> {{ userInfo.date_of_birth | date:"M d, Y" }}</p>
        {% if userInfo.email %}
        <p><b>E-mail:</b> {{userInfo.email}}</p>
        {% else %}
        <p>You did not provide an email.</p>
        {% endif %}
      </div>
      <div>
        <a href="{% url 'add item' %}" class="btn btn-outline-secondary"
          >Sell an Item</a
        >
      </div>
    </div>
    <div class="col-6">
      <h4 class="pb-3 font-weight-bold">Your latest bids</h4>
      <div>
        <ul>
          {% for bid in bids|slice:":10" %}
          <li>
            <b><a href="{% url 'item detail' bid.item.id %}">{{ bid }}</a></b>
            on {{ bid.time_placed }}
          </li>
          {% empty %}
          <p>You didn't make any bid yet.</p>
          <a href="{% url 'items list' %}" class="btn btn-outline-secondary"
            >Check out what's on auction</a
          >
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if bidsWon %}
    <div class="row">
      <div class="col-12">
        <h4 class="pb-3 font-weight-bold">Today you won these auctions!</h4>
        <div>
          <ul>
            {% for bid in bidsWon %}
            <li>
              <b><a href="{% url 'item detail' bid.item.id %}">{{ bid }}</a></b>
              on {{ bid.time_placed }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
