{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h4 class="m-4 justify-content-center">User information</h4>
  </div>
  <div class="row">
      <!-- TODO Make it look prettier? -->
    <div class="col-lg">
      Name: {{userInfo.username}} </br>
      Birthday: {{ userInfo.date_of_birth | date:"M d, Y" }} </br>
      {% if userInfo.email %}
      E-mail: {{userInfo.email}} </br>
      {% else %}
      User did not provide an email.
      {% endif %}
    </div>
  </div>
  <div class="row">
    <a href="{% url 'add item' %}" class="m-4 btn btn-primary">Sell an Item</a>
  </div>
</div>
{% endblock %}
