{% extends 'form_base.html' %} {% block nested %}
<div class="container">
    <div class="container">
        <h4>Sell something on oBey</h4>
        <p>Please insert the details of an item you wish to sell.</p>
    </div>
    <form action="{% url 'add item' %}" enctype="multipart/form-data" method="post">
        <!-- TODO make form look prettier -->
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sell this item!" class="btn btn-primary my-4">
    </form>
</div>
{% endblock %}