{% extends 'base.html' %} {% block content %}
<!-- Form -->
<form id="signupForm" class="text-center border border-light p-5 forms">
  <p class="h4 mb-4">Join oBey</p>

  <!-- Username -->
  <input
    type="text"
    class="form-control"
    name="username"
    pattern="^[a-zA-Z0-9_@+.-]*"
    placeholder="Username"
  />
  <small class="form-text text-muted mb-4">
    Usernames may contain alphanumeric, _, @, +, . and -
    <strong>(required)</strong>
  </small>

  <!-- Password -->
  <input
    type="password"
    class="form-control"
    name="password"
    placeholder="Password"
    minlength="8"
  />
  <small class="form-text text-muted mb-4">
    At least 8 characters <strong>(required)</strong>
  </small>

  <!-- Date of birth -->
  <input type="date" class="form-control" name="dateOfBirth" min="1900-01-01" />
  <small class="form-text text-muted mb-4">
    Date of Birth <strong>(required)</strong>
  </small>

  <!-- E-mail -->
  <input
    type="email"
    class="form-control mb-4"
    name="email"
    placeholder="Email"
  />

  <small id="registrationError" class="form-text mb-4 text-danger"></small>

  <!-- Sign up button -->
  <button
    data-test="signUp"
    class="btn btn-info my-4 btn-block"
    type="button"
    onclick="handleRegister();"
  >
    Sign up
  </button>

  <!-- TODO Add login page and redirect the Users there -->
  <p>Already a member? <a href="#">Login</a></p>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="registrationSuccess"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registration was succesful!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- TODO Redirect to login page once we have one -->
        Click <a href="#">here</a> to login
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  // Collect data from inputs
  function handleRegister() {
    const $id = $.find('[name="username"]')[0];
    const $pw = $.find('[name="password"]')[0];
    const $email = $.find('[name="email"]')[0];
    const $dateOfBirth = $.find('[name="dateOfBirth"]')[0];

    // Check validity of data
    const id = $id.validity.valid ? $id.value.toLowerCase() : null;
    const pw = $pw.validity.valid ? $pw.value : null;
    const email = $email.validity.valid ? $email.value.toLowerCase() : null;
    const dateOfBirth = $dateOfBirth.validity.valid ? $dateOfBirth.value : null;

    // Id, pw and dob are required fields. Don't send the POST request
    // if any of these are not valid.
    if (!id) {
      $("#registrationError").html("Invalid username.");
      return;
    }
    if (!pw) {
      $("#registrationError").html("Invalid password.");
      return;
    }
    // TODO - Change DB to have date_of_birth field as required
    if (!dateOfBirth) {
      $("#registrationError").html("Invalid Date of Birth.");
      return;
    }

    // Validate the email only if users typed something in it.
    if ($email.value.length > 0) {
      if (!email) {
        $("#registrationError").html("Invalid email.");
        return;
      }
    }

    $.ajax({
      url: "{% url 'registration' %}",
      method: "POST",
      data: $("#signupForm").serializeArray(),
      beforeSend: xhr => {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
      success: ({ username }) => {
        clearForm([$id, $pw, $email, $dateOfBirth]);
        // Open modal to tell users the registration was succesful
        $("#registrationSuccess").modal();
      },
      error: error => {
        $("#registrationError").text("Username or Email already in use.");
      }
    });
  }

  // Reset error message on input change
  $('[name="username"]').on("keydown", () => {
    $("#registrationError").html("");
  });

  $('[name="email"]').on("keydown", () => {
    $("#registrationError").html("");
  });

  function clearForm($els) {
    for (let $el of $els) {
      $el.value = "";
    }
    // Also reset error.
    $("#registrationError").text("");
  }

  // Set maximum date of birth to today's date.
  const today = new Date().toISOString().split("T")[0];
  $.find('[name="dateOfBirth"]')[0].setAttribute("max", today);

  // Use window object to have universal scope for the functions
  window.handleRegister = handleRegister;
</script>
{% endblock %}
