{% extends 'base.html' %} {% block content %} {% load static %}
<style>
    .center-layout {
        max-width: 1000px;
        margin: auto;
    }
</style>

<section class="jumbotron text-center">
    <h1 class="jumbotron-heading">{{ item.title }}</h1>
</section>
<div class="album p-5 bg-light">
    <div class="row center-layout">
        <div class="col-6 p-5">
            {% if image %}
            <img class="card-img-top" src="/static/{{ image }}" alt="Item image" />
            {% else %}
            <img class="card-img-top" src="{% static 'auctionapp/no_image.jpg' %}" alt="Item image" />
            {% endif %}
        </div>
        <div class="col-6 p-5">
            <h4>Current Price : <b><span id="item_price">£{{ price }}</span></b></h4>
            <p class="text-muted mb-0">Highest bidder:
                {% if buyer %}
                <span id="buyer">{{ buyer }}</span>
                {% else %}
                <span id="buyer">No bids yet</span>
            </p>
            {% endif %}
            <p class="text-muted">End of auction: {{ item.end_time }}</p>
            <br />
            <p>Description:<br /><span class="text-muted">{{ item.description }}</span></p>
            <div class="container m-0 p-0 pt-5">
                {% if closed and buyer %}
                <p>The auction for this item is closed now.<br />This was bought by <b>{{ buyer }}</b> for £{{ price }}
                </p>
                {% elif closed %}
                <p>This auction has expired. <br /> No bid was made on this item.</p>
                {% else %}
                <label for="price">Wanna make a bid on this item?</label><br />
                <input type="number" class="form-control" min="1" step="any" max="10000000" id="price" /><br />
                <button onclick="placeBid()" class="btn btn-secondary">Place A Bid</button>
                <p style="color:red;" id="message" class="pt-2"></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    window.placeBid = () => {
        const $price = $.find('[id="price"]')[0];
        const price = $price.validity.valid ? $price.value : null;

        if (!price) {
            $("#message").text($price.validationMessage);
            return;
        }

        $.ajax({
            url: "{% url 'make bid' item.id %}",
            method: "POST",
            data: { "price": price },
            beforeSend: xhr => {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: response => {
                $("#item_price").text(`£${parseFloat(response['new_price']).toFixed(2)}`);
                $("#buyer").text(response['buyer'])
                window.alert("Offer placed, fingers crossed you will get it!")
            },
            error: response => {
                $("#message").text(response.responseJSON.error);
            }
        });
    }
</script>
{% endblock %}