{% extends 'base.html' %} {% block content %}
<div class="container">
    <h4 class="my-4 justify-content-center">{{item.title}}</h4>
    <div class="row">
        <!-- TODO Make it look prettier -->
        <div class="col-lg my-4">
            {% if image %}
            {% load static %}
            <img src="{% static image %}" alt="item" width="50%" class="mb-4" />
            {% endif %}
            <br/>
            {{ item.description }}
            <br /><br />
            End of auction: {{ item.end_time }} </br>
            Current Price : <span id="item_price">£{{ price }}</span>
        </div>
    </div>
</div>
<div class="container mt-4">
    {% if closed and buyer %}
    <p>The auction for this item is closed now.<br/>This was bought by <b>{{ buyer }}</b> for £{{ price }}</p>
    {% elif closed %}
    <p>This auction has expired. <br/> No bid was made on this item.</p>
    {% else %}
    <label for="price">Wanna make an offer for this item?</label><br />
    <input type="number" min="1" step="any" max="10000000" id="price" /><br />
    <button onclick="placeBid()" class="mt-2 btn btn-primary">Place A Bid</button>
    <p style="color:red;" id="message" class="pt-2"></p>
    {% endif %}
</div>


<script>
    window.placeBid = () => {
        const $price = $.find('[id="price"]')[0];
        const price = $price.validity.valid ? $price.value : null;

        if (!price) {
            $("#message").text($price.validationMessage);
            return;
        }

        $.ajax({
            url: "{% url 'make bid' item.id %}",
            method: "POST",
            data: {"price": price},
            beforeSend: xhr => {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: response => {
                $("#item_price").text(`£${parseFloat(response['new_price']).toFixed(2)}`);
                window.alert("Offer placed, fingers crossed you will get it!")
            },
            error: response => {
                $("#message").text(response.responseJSON.error);
            }
        });
    }
</script>
{% endblock %}