{% extends 'base.html' %} {% block content %}{% load static %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to oBey</h1>
    <p class="lead text-muted">
      This is hands down the best auction webapp ever. Below you can find a list
      of items that our users are trying to sell to get enough money to buy
      bread. If you also want to start buying/selling please register.
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    {% if items %}
    <div class="form-group mb-4">
      <input
        id="searchbar"
        placeholder="Search items"
        class="form-control form-control-underlined"
        onchange="handleSearch(this);"
      />
    </div>

    <div class="row">
      {% for item in items %}
      <div class="col-md-4" data-item_title="{{ item.title}}" data-type="item">
        <div class="card mb-4 box-shadow">
          {% if item.image %}
          <!-- TODO test picture in production -->
          <img
            class="card-img-top"
            src="/static/{{ item.image }}"
            alt="Item image"
          />
          {% else %}
          <img
            class="card-img-top"
            src="{% static 'auctionapp/no_image.jpg' %}"
            alt="Item image"
          />
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{item.title}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <a
                href="{% url 'item detail' item.id %}"
                class="btn btn-sm btn-outline-secondary"
              >
                View
              </a>
              <small class="text-muted"
                >Ends {{ item.end_time| date:"M d"}}</small
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h5 class="d-flex">Sorry, there are no active auctions at the moment.</h5>
    {% endif %}
  </div>
</div>
<script>
  // All items you can bid to.
  const $allItems = $("[data-type='item']").toArray();

  function handleSearch(el) {
    $.ajax({
      url: `/api/active/search/`,
      method: "GET",
      data: { q: el.value },
      success: data => {
        const itemsMatchingQuery = data.map(item => item.title);

        $allItems.forEach(item => {
          const itemName = item.getAttribute("data-item_title");
          // Hide/show items based on the result of the query.
          if (!itemsMatchingQuery.includes(itemName)) {
            item.hidden = true;
          } else {
            item.hidden = false;
          }
        });
      },
      error: error => {
        console.error(error);
      }
    });
  }

  // Use window object to have universal scope for the functions
  window.handleRegister = handleSearch;
</script>
{% endblock %}
