{% extends 'base.html' %} {% block content %}
<!-- Form -->
<form id="signupForm" class="text-center border border-light p-5 forms">
  <p class="h4 mb-4">Join oBey</p>

  <!-- Username -->
  <input
    type="text"
    class="form-control"
    name="username"
    pattern="^[a-zA-Z0-9_@+.-]*"
    placeholder="Username"
  />
  <small class="form-text text-muted mb-4">
    Usernames may contain alphanumeric, _, @, +, . and -
  </small>

  <!-- Password -->
  <input
    type="password"
    class="form-control"
    name="password"
    placeholder="Password"
    minlength="8"
  />
  <small class="form-text text-muted mb-4"> At least 8 characters </small>

  <!-- E-mail -->
  <input
    type="email"
    class="form-control mb-4"
    name="email"
    placeholder="Email"
  />

  <!-- TODO Add Date of Birth input  -->

  <small id="registrationError" class="form-text mb-4 text-danger"></small>

  <!-- Sign up button -->
  <button
    data-test="signUp"
    class="btn btn-info my-4 btn-block"
    type="button"
    onclick="handleRegister();"
  >
    Sign up
  </button>

  <!-- TODO Add login page and redirect the Users there -->
  <p>Already a member? <a href="#">Login</a></p>
</form>

<script>
  // Collect data from inputs
  function handleRegister() {
    const $id = $.find('[name="username"]')[0];
    const $pw = $.find('[name="password"]')[0];
    const $email = $.find('[name="email"]')[0];

    // Check validity of data
    const id = $id.validity.valid ? $id.value.toLowerCase() : null;
    const pw = $pw.validity.valid ? $pw.value : null;
    const email = $email.validity.valid ? $email.value.toLowerCase() : null;

    // Display an error message if data is not valid
    !id && $("#registrationError").html("Invalid username.");
    !pw && $("#registrationError").html("Invalid password.");
    !email && $("#registrationError").html("Invalid email.");

    $.ajax({
      url: "{% url 'registration' %}",
      method: "POST",
      data: $("#signupForm").serializeArray(),
      beforeSend: xhr => {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
      success: ({ username }) => {
        // TODO - Notify the users on the outcome of the signup
      },
      error: error => {
        // TODO: Improve quality of error shown to the users
        $("#registrationError").text(`${JSON.stringify(error)}`);
      }
    });
  }

  // Reset error message on input change
  $('[name="username"]').on("keydown", () => {
    $("#registrationError").html("");
  });

  $('[name="email"]').on("keydown", () => {
    $("#registrationError").html("");
  });

  // Use window object to have universal scope for the functions
  window.handleRegister = handleRegister;
</script>
{% endblock %}
